{% extends 'base.html.twig' %}

{% block title %}Conditions de Vente{% endblock %}

{% block body %}
    <h1>Conditions de Vente</h1>
    <!-- Ajoutez ici le contenu de vos conditions de vente -->
{% endblock %}