{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block body %}
    <div class="flex justify-center items-center min-h-screen bg-gray-100">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Créer un nouveau rendez-vous</h1>

        {{ include('appointment_admin/_form.html.twig') }}
    

        <a href="{{ path('app_appointment_admin_index') }}" class="text-blue-500 hover:underline">Retour à la liste de mes rendez-vous</a>

        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


   <script>

  document.addEventListener('DOMContentLoaded', function() {
    const joursOuverts = {{ openDays|json_encode|raw }};
    console.log('Jours Ouverts:', joursOuverts);

    function getDatesForOpenDays(openDays) {
        const today = new Date();
        const dates = [];

        const dayMap = {
            "dimanche": 0,
            "lundi": 1,
            "mardi": 2,
            "mercredi": 3,
            "jeudi": 4,
            "vendredi": 5,
            "samedi": 6
        };

        for (let i = 0; i < 365; i++) { 
            const date = new Date(today);
            date.setDate(today.getDate() + i);
            const dayName = Object.keys(dayMap).find(key => dayMap[key] === date.getDay());
            if (openDays.includes(dayName)) {
                dates.push(date);
            }
        }

        return dates;
    }

    const enabledDates = getDatesForOpenDays(joursOuverts);

    flatpickr("#rendez_vous1_date_rdv", {
        dateFormat: "Y-m-d",
        enable: enabledDates
    });
});
</script>
{% endblock %}