.container-footer {
    width: 100%;
    max-width: 1200px; /* Largeur maximale pour le conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    display: flex;
    padding: 0 20px; /* Marge de chaque côté */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
}
.foot-page {
    width: 100%;
    max-width: 1200px; /* Largeur maximale pour le conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

}
.bloc {
    margin: 0 10px; /* Espace entre les blocs */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

.footer-contact {
    flex: 1; /* Prend tout l'espace disponible à gauche */
}

.footer-reseaux {
    margin-left: auto; /* Pousse le bloc des réseaux sociaux à droite */
}
    .footer-contact h3,
    .footer-reseaux h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .footer-contact p{
        padding: 5px 0;
    }
  
     .liste-reseaux {
        display: flex;
        align-items: center; /* Aligne les éléments verticalement */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .liste-reseaux {
        list-style-type: none;
    }
    .liste-reseaux li {
        margin-right: 10px; /* Espace entre les icônes */
    }
    .liste-reseaux li a{
        text-decoration: none;
        color: #333;
    }
    .social-link {
        display: inline-block;
    }
    .social-icon {
        width: 32px; /* Ajustez la taille selon vos besoins */
        height: 32px;
    }
    .liste-media img{
        width: 40px;
        margin: 10px 20px;
    }
    .liste-media a {
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .footer-liens-centres {
        text-align: center;
        font-size: 12px; /* Taille de police plus petite */
        margin-right: auto;
        padding-left: 5px;

    }
    .copyright {
        font-size: 12px; /* Taille de police plus petite */
        margin-left: auto;
        padding-right: 5px;
    }
@media screen and (max-width: 768px) {
    .container-footer {
        flex-direction: column; /* Empile les blocs verticalement */
        align-items: center; /* Centre les blocs horizontalement */
    }
    .foot-page {
        
        flex-direction: column;
        align-items: center;
    }
    

    .bloc {
        margin: 10px 0; /* Espace entre les blocs verticalement */
        text-align: center; /* Centre le texte à l'intérieur des blocs */
    }

    .footer-reseaux {
        margin-left: 0; /* Réinitialise la marge gauche */
    }
   

    }