{% extends 'base.html.twig' %}

{% block title %}Categorie des Robes{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-4 text-center">Categorie des Robes</h1>

    

    <div class="flex justify-center">
        <div class="w-full max-w-4xl">
            <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="py-2 px-4">Catégorie</th>
                        <th class="py-2 px-4">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr class="border-b">
                        <td class="py-2 px-4">{{ categorie.libel }}</td>
                        <td class="py-2 px-4">                    
                            <a href="{{ path('app_categorie_admin_edit', {'id': categorie.id}) }}" class="text-blue-500 hover:underline">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2" class="py-2 px-4 text-center text-gray-500">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         <div class="flex justify-center mt-4 mb-4 space-x-2">
                <a href="{{ path('app_produit_admin_index') }}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Retour à la gestion des robes</a>
                <a href="{{ path('app_categorie_admin_new') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Ajouter une catégorie</a>
            </div>
        </div>
    </div>
{% endblock %}