{# {% extends 'base.html.twig' %}

{% block title %}New ElementAdmin{% endblock %}

{% block body %}
    <h1>Create new ElementAdmin</h1>

    {{ include('element_admin/_form.html.twig') }}

    <a href="{{ path('app_element_admin_index') }}">back to list</a>
{% endblock %} #}
