<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'annulation de rendez-vous</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Votre rendez-vous avec le numéro {{ rendezvous.numRdv }} a été annulé avec succès.</p>
    <p>Merci de votre compréhension.</p>
    <p>Cordialement,</p>
    <p>L'équipe de gestion des rendez-vous</p>
</body>
</html>